<section class=" my-3">
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container w-50">
        <div class="row">
            <div *ngIf="errLogin!=''" class="col-md-12 alert alert-danger">{{errLogin}}</div>
            <div class="col-md-12 my-2">
            <div class="form-group">
                <input class="form-control"  placeholder="your email" formControlName="email">
                <div class="alert alert-danger my-3" *ngIf="email?.invalid && ( email?.dirty ||email?.touched)">
                    <p *ngIf="email?.errors?.required"> * email is required </p>
                    <p *ngIf="email?.errors?.email"> * invalid email format </p>
                </div>
            </div>
            </div>

            <div class="col-md-12 my-2">
            <div class="form-group">
                <input class="form-control" type="password"  placeholder="your password" formControlName="password">
                <div class="alert alert-danger my-3" *ngIf="password?.invalid && ( password?.dirty ||password?.touched)">
                    <p *ngIf="password?.errors?.pattern || password?.errors?.required">
                         * invalid password format (password must contain capital letter, small letter, number,
                          specaial character and more than 8 characters)</p>
                </div>
            </div>
            </div>
            <div class="col-md-12 my-2">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    
    </div>
</form>

</section>