<div class="container text-center my-5 ">
    <div class="row">
        <div class="col-md-12">
            <div class=" w-50 m-auto border border-warning py-2">

                <div class="text-uppercase badge badge-danger">{{userData.name}}</div>
                <br>
                <div class="badge badge-success">{{userData.email}}</div>
                <br>
                <div class="badge badge-warning">{{userData.gender}}</div>
                <br>
                <div class="badge badge-info">{{userData.updatedAt}}</div>
            </div>
                
        </div>
    </div>
</div>