<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoaded">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <ng-container *ngIf="!_global.isAuthed">
          <li class="nav-item">
            <a class="nav-link" routerLink="user/register">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/reg2">reg2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/login">login</a>
          </li>
        </ng-container>
        <ng-container *ngIf="_global.isAuthed">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product/add">add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product/">All Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order/">All Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order/add">Add Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info"  routerLink="user">{{_global.userData.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger text-white" (click)="logout()">Log Out</a>
          </li>          
        </ng-container>
</ul>
        
      </div>
    </div>
  </nav>